body{
	background-image: url('imagem/fundoT.png');
	background-color: #d2afbc;
	font: 16px Arial, Helvetica, sans-serif;
	
}

#principal{
	width: 900px;
	margin: auto;
}

.capa{
	position: relative;
	right: 9px;
}

.menu{
	padding: 10px;
	text-align:center;
	
	
}

.conteudo{
	
	background-color: #ffbfbc;
	
}

.rodape{
	
	text-align: center;
	
}



a{
	text-decoration: none;
	color: #584950;
	padding: 10px;
	font-weight: bold;
	
}

h1{
	color: #916e7d;
	font-size: 1.2em;
	
	
}

img{
	border: solid 10px #f1747f;
	
	
}

.numero{
	text-align: left;
	
}

/*configuração dos Links*/

a:link{
	color: yellow;
	
}

a:hover{
	color: pink;
    background-color: white;
}

a:active{
	color: purple;
	background-color: orange;
}